/.env
/.venv
/todo.txt
node_modules
__pycache__
uploads
vector_store
knowledge_transfer.db
.DS_Store
.vscode
todo.txt
*.chunk.js
*.chunk.js.map
*.chunk.css
*.chunk.css.map
*.chunk.js.map
*.chunk.css.map






